{{!< main }}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Logout Confirmation</title>
        <link rel="stylesheet" href="/css/styles.css">
        <link rel="stylesheet" href="/css/login.css">
    </head>
    <body>
        <section class="logout-confirmation">
            <h1>Successfully Logged Out</h1>
            <p>You have been logged out of your account!</p>
            <a href="/" id="returnHomeButton">Return to Home</a>
        </section>
    </body>
</html>
