{{! Use the main layout }}
{{!< main }}

<link rel="stylesheet" href="/css/login.css">

<!-- Playstation button images sourced from Wikipedia (https://commons.wikimedia.org/wiki/File:PlayStation_Certified2.svg) -->
<img src="/images/PlayStationTriangle.png" alt = "PlayStation Triangle Button" class = PSButtons id="PSTriangle">


<section class="login-register">
    <section class = "login-area">
        <h2>Login</h2>
        <!-- errors will appear here -->
        {{#if loginError}}
            <p style="color: red;">{{loginError}}</p>
        {{/if}}
        <form action="/login" method="POST">
            <!-- the login form goes here -->        
            <input type="text" id="username" name="username" placeholder = "Username" required><br><br>
             <button type="submit" id="login-button"><img src="/images/PlayStationSquare.png" alt = "PlayStation Square Button" class = PSButtons id="PSSquare"> Login</button>
        </form>
    </section>


    <section class = "register-area">
        <h2>Register</h2>
        <!-- errors will appear here -->
        {{#if regError}}
            <p style="color: red;">{{regError}}</p>
        {{/if}}
        <form action="/register" method="POST">
            <!-- the registration form goes here -->
            <input type="text" id="username" name="username" placeholder = "Username" required><br><br>
            <button type="submit" id="register-button">Register <img src="/images/PlayStationCircle.png" alt = "PlayStation Circle Button" class = PSButtons id="PSCircle"> </button>
        </form>
    </section>
</section>


<!-- say --OR-- ... with style -->
    <img src="/images/PlayStationX.png" alt = "PlayStation X Button" class = PSButtons id="PSCross">
