body, html {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    justify-content: center;
    align-items: center;
}

header {
    display: flex;
    position: fixed;
    top: 0; 
    align-items: start;
    width: 99.5%;
    height: 8%;
    z-index: 10;
    border-radius: 5px;
    border: 1px solid white;
}

.HomeBackground {
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

.logo {
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    font-size: 10px;
    left: 30px;

}

.logo img{
    width:10%;
    height: 10%;
}

.header-logo {
    width: 75px;
}

h1 {
    margin-left: 20px;
    font-size: 20px;
    z-index: 20;
    color: rgb(8, 51, 8);
}

.navLinks {
    display: flex;
    align-items: center;
    position: absolute;
    left: 20px;
    z-index: 20;
    margin-top: 5px;

}

.navLinks a {
    color: white;
    margin: 0 10px;
}

.welcomeMessage {
    margin-left: 20px;
    font-size: 20px;
    color: white;
}

.user-info, .navLinks {
    display: flex;
    justify-content: flex-end; 
    flex-direction: row;
    position: absolute;
    align-items: center;
    right: 30px;
    list-style-type: none;
    margin: 0;
    padding: 0; 
}
.user-info{
    top: 12px;
}

a {
    color: white;
    text-decoration: none;
}

a:hover,
a:visited {
    color: white;
    text-decoration: none; /* Ensure no underline on hover and visited */
}

.user-info > li {
    margin: 10px;
    color: white;
    text-decoration: none;

}

.header-avatar {
    width: 30px;
    height: 30px;
    border-radius: 20%;
    right: 30px;
}


/*********************************************/

.posts-list {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
}

.post {
    background: white;
    min-width: 400px;
    min-height: 100px;
    margin: 50px;
    margin-bottom: 40px;
    padding: 10px;
    z-index: 2;
    color: black;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
} 

.post-avatar {
    display: flex;
    flex-direction: row;
    justify-content: left;
} 

.post-avatar img {
    max-width: 50px;
    max-height: 50px;
    border-radius: 20%;
    margin-right: 10px;
}

.post-content {
    flex-grow: 1;
}

.post-status-bar {
    display: flex;
    justify-content: space-between;
    align-items: left;
    margin-top: 10px;
}

.login-register {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20;
    gap: 50px;
    z-index: 3;
}

.login-area, .register-area {
    background: white;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

footer {
    display: flex;
    justify-content: center;
    bottom: 10px;
    z-index: 3;
    position: absolute;
}

footer p {
    color: white;
}

.content-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 20px;
    width: 100%;
}

.post-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid black;
    padding: 30px;
    border-radius: 5px;
    width: 50%; /* Set width to match the post width */
}

.post-form input, .post-form textarea {
    width: 95%;
    padding: 10px;
    font-size: 18px;
    margin-bottom: 10px; /* Add some margin for better spacing */
    margin-right: 10px;
}

.post-form textarea {
    height: 200px; /* Increase the size of the text input */
    font-size: 18px; /* Ensure the text input size is larger */
}


.form-actions {
    width: 100%;
    display: flex;
    flex-direction: row; 
    margin-bottom: 10px;

}

.form-actions .emoji-button, .form-actions .post-button {
    padding: 10px;
    font-size: 18px;
    background: none;
    border: 1px solid white;
}


.emoji-button{
    margin-right: 10px;
}



.form-actions .emoji-button {
    width: 10%;
   
}

.form-actions .post-button {
    width: 90%;
}

.emoji-search {
    margin-top: 10px;
}

