/***** Main Page Styling *****/

/*******************************************************************************************************************/
body, html {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    background-image: url('/images/Background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: hidden;
}

.wrapper {
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 100%;
}

header {
    display: flex;
    position: fixed;
    flex-wrap: wrap;
    top: 0;
    align-items: center;
    width: 100%;
    height: 8%;
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.8);
}

.HomeBackground {
    background-size: cover;
    background-position: center center; 
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    height: 100%;
    opacity: 0.75;
}

.logo {
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    font-size: 10px;
    left: 30px;
}

.logo img {
    width: 10%;
    height: 10%;
}

.header-logo {
    width: 75px;
}

h1 {
    margin-left: 20px;
    font-size: 20px;
    z-index: 20;
    color: darkGreen;
}

/***** Navigation Styling *****/
.navLinks {
    display: flex;
    align-items: center;
    position: absolute;
    left: 20px;
    z-index: 20;
    color: darkGreen;
}

.navLinks a {
    color: darkGreen;
    margin: 0 10px;
    margin-top: -15px;
}

.user-info, .navLinks {
    display: flex;
    justify-content: flex-end; 
    flex-direction: row;
    position: absolute;
    align-items: center;
    right: 30px;
    list-style-type: none;
    margin: 0;
    padding: 0; 
    color: darkgreen;
}

.user-info {
    top: 12px;
    max-width: 30em;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.user-info:hover, .navLinks:hover {
    color: black;
}

a {
    color: #006400;
    text-decoration: none;
}

a:hover {
    color: black;
}

.user-info > li {
    margin: 10px;
    color: darkGreen;
}

.header-avatar {
    width: 35px;
    height: 35px;
    border-radius: 20%;
    margin-left: 20px;
    margin-top: -3px;
    z-index: 20;
}

/***** Post Submission Form Styling *****/
#title::placeholder, #content::placeholder {
    color: rgb(0, 0, 0, 0.4);
    z-index: 20;
    vertical-align: top;
}

#content {
    width: 100%;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    min-height: 200px;
    resize: vertical;
}

.content-container {
    display: flex;
    flex-direction: row;
    flex: 1;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 20px;
    width: 100%;
    overflow: hidden;
}

.content-container::-webkit-scrollbar {
    display: none;
}

.post-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: none;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 30px;
    margin-left: 30px;
    border-radius: 5px;
    width: 35%; 
}

.post-form input, .post-form textarea {
    width: 95%;
    padding: 10px;
    font-size: 18px;
    margin-bottom: 10px; 
}

.post-form textarea {
    height: 200px; 
    font-size: 18px; 
}

.form-actions .emoji-button, .form-actions .post-button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    font-size: 18px;
    background: none;
    background-color: rgba(255, 255, 255, 0.9);
    border: 1px solid white;
}

.form-actions {
    width: 100%;
    display: flex;
    flex-direction: row; 
    margin-bottom: 10px;
}

#title {
    overflow: hidden;
    white-space: nowrap;
    display: inline-block;
}

.emoji-button {
    margin-right: 10px;
    border-radius: 3px;
    height: 30px;
    width: 90%;
    height: 90%;
}

.emoji-button:hover, .post-button:hover {
    background-color:rgb(224, 224, 224);
    border: 1px solid rgb(224, 224, 224);
}

.form-actions .emoji-button {  
    width: 10%;
}

.form-actions .post-button { 
    width: 90%;
    border-radius: 3px;
}

.emoji-search {
    margin-top: 10px;
}

.post-button, .emoji-button {
    background-color: green;
    color: rgb(87, 87, 87);
}

/***** Posts Styling *****/
.postsContainer {
    flex: 2;
    display: flex;
    position: relative;
    top: 0;
    width: 100%;
    padding: 10px;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    box-sizing: border-box;
}

.posts-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
    overflow-x: hidden;

    width: 100%;
    height: 565px;
}

.post p {
    display: inline-block;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
}

.posts-list::-webkit-scrollbar {
    display: none;
}

#post-username{
    text-overflow: ellipsis;
}

.user-posts::-webkit-scrollbar {
    display: none;
}

h2, h3 {
    color: darkGreen;
}

.post {
    background: white;
    min-height: 100px;
    margin: 50px;
    margin-bottom: 40px;
    padding: 10px;
    z-index: 2;
    color: black;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
} 

.post-avatar {
    display: flex;
    flex-direction: row;
    justify-content: left;
    left: 10px;
} 

.post-avatar img {
    max-width: 50px;
    max-height: 50px;
    border-radius: 20%;
    margin-right: 10px;
}

.post-content {
    flex-grow: 1;
}

.post-status-bar {
    display: flex;
    margin-top: 10px;
    align-items: center;
    justify-content: space-between;
}

.postedby {
   display: flex;
   justify-content: end;
   align-items: center;
   right: 0;
   height: auto;
}

.postedby span {
    max-width: 500px;
    margin-right: 5px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    display: inline-block;
}

.interact {
    display: flex;
    flex-direction: row; 
    align-items: center;
    justify-content: start;
    gap: 10px;
    margin-right: 10px;
}

.like-button, .delete-button {
    background: none;
    border: none;
    transition: all 0.3s;
    width: 50px;
}

.delete-button {
    width: 35px;
}

.like-button:hover {
    transform: scale(1.5);
}

@keyframes shake {
    0% { transform: translateX(0); }
    25% { transform: translateX(-3px); }
    50% { transform: translateX(3px); }
    75% { transform: translateX(-3px); }
    100% { transform: translateX(0); }
}

.delete-button:hover {
    animation: shake 0.5s;
}

/***** Login/Register Styling *****/
.PSButtons {
    width: 50px;
    height: 50px;
}

#PSSquare, #PSCross {
    margin-top: 85px;
}

#PSSquare {
    margin-right: 25px;
}

#PSCross {
    margin-left: 25px;
}

#PSTriangle {
    margin-bottom: 25px;
}

#PSCircle {
    margin-top: 25px;
}

#login-button img {
    margin-right: 30px;
}

#register-button img {
    margin-left: 30px;
}

.login-register {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20;
    gap: 50px;
    z-index: 3;
}

.login-area, .register-area {
    background: white;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/***** Footer Styling *****/
footer {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    bottom: 0;
    z-index: 3;
    position: fixed;
    background-color: white;
    opacity: 80%;
}

footer p {
    color: darkGreen;
}

.form-hidden .postsContainer, .form-hidden .dropdown {
    margin-top: 0;
}


/***** Media Queries *****/
@media (width >= 1930px) {
    .HomeBackground {
        width: 100%;
    }
}

@media (width <= 1279px) {
    .content-container {
        flex-direction: column;
        overflow-y: none;
        overflow-x: hidden;
        margin-top: 500px;
        height: 70%;
    }

    .dropdown {
        margin-top: -100px;
    }

    .content-container::-webkit-scrollbar {
        display: none;
    }

    .like-button {
        margin-left: -15px;
    }

    .delete-button {
        margin-left: -10px;
        margin-right: 10px;
    }

    .liketext {
        width: 40px;
        margin-left: -15px;
    }

    #title{
        min-height: 20px;
        max-height: 20px;
    }
    #content{
        min-height: 70px;
        max-height: 70px;
    }

    body, html {
        flex-direction: column;
        overflow-y: scroll;
        overflow-x: hidden;
    }

    body::-webkit-scrollbar {
        display: none;
    }

    html::-webkit-scrollbar {
        display: none;
    }

    .post-form {
        max-height: 100%;
        margin-bottom: -100px;
        width: 50%;
        margin-left: -60px;
    }

     .postsContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 10px;
        box-sizing: border-box;
    }

    .posts-list {
        display: flex;
        flex-direction: column;
        align-items: center;
        min-width: 50%;
        width: 100%;
        margin: 0 auto;
        padding: 10px;
        box-sizing: border-box;
        margin-left: -7%;
    } 

    .post {
        max-width: 700px;
        margin-left: 0px;
        margin-right: 10px;
    }

    .post h3 {
        font-size: 15px;
    }

    .post img {
        width: 40px;
        height: 40px;
        margin-left: 10px;
    }

    .content {
        font-size: 15px;
    }

    .post span {
        font-size: 10px;
    }

    .post-avatar {
        margin-left: -10px;
    }

    footer p {
        text-align: center;
    }
  }

  @media (width <=1279) and (width >= 575) {
    .content-container {
        margin-top: 100px;
    }
  }

  @media (width >= 781px) and (width <=890) {
    .profile-container {
        padding-top: 4000px;
    }
  }

  @media (width <= 574px) {
    .select-text{
        font-size: 15%;
        margin-right: -40px;
        margin-left: -40px;
        min-width: 15%;
    }

    header {
        flex-direction: column;
        align-items: flex-start;
        height: 15%;
    }

    .user-info, .navLinks {
        width: 100%;
        justify-content: center;
        margin-top: 40px;
    }

    .logo, h1 {
        justify-content: center;
    }

    .logo img {
        width: 50px;
    }

    .post-form {
        margin-top: 50px;
    }

    .profile-container {
        margin-top: 100px;
    }

    .postsContainer {
        position: fixed;
        overflow-y: hidden;
        margin-bottom: 130px;
        height: 100%;
    }

    .content-container {
        overflow-y: hidden;
    }

    #emoji-grid {
        align-items: center;
        overflow-y: hidden;
        overflow-x: scroll;
        white-space: nowrap;
        display: inline-block;
        max-height: 22%;
        width: 100%;
        
    }

    #emoji-search{
        align-items: center;
        border: 1px gray solid;
        max-height:10%;
        border-radius: 2px;
    }

    footer {
        justify-content: center;
        margin-left: 10px;
        margin-right: 10px;
    }

    .content-container {
        margin-top: -330px;
    }

    .post-form {
        width: 70%;
        height: 20%;
        padding: 30px;
    }

    .postsContainer {
        margin-top: 1200px;
    }

    .posts-list {
        height: 100%;
        margin-bottom: 350px;
    }
  } 

  @media (width <=485px) {
    footer p {
        font-size: 75%;
        text-align: center;
    }

    .postsContainer {
        margin-top: 1250px;
    }

  }

  @media (width >=401) and (width <= 416) {
    footer p {
        text-align: center;
    }
  }

@media (width <= 400px) {
    .navLinks, .user-info {
        right: 10px;
    }

    .post-form {
        width: 50%;
        align-self: center;
        margin-top: 20px;
        margin-right: 10%;
        margin-left: 10px;
    }

    .post {
        justify-content: center;
        margin-left: -20px;  
        margin-right: 20px;
        margin-bottom: 5%;
    }

    .post p {
        overflow-x: hidden;
    }

    .post-status-bar {
        display: flex;
        flex-direction: column;
    }

    .interact {
        justify-self: left;
    }

    .profile-container {
        margin-top: 120px;
    }

    footer {
        height: 35px;
        justify-content: center;
        margin-left: 10px;
        margin-right: 10px;
    }

    .user-posts {
        margin-bottom: 35px;
    }

    .postsContainer {
        margin-top: 1050px;
        height: 820px;
    }
}

/* Post-Sorting Form Styling */
#sortByForm {
    margin-top: 200px;
}

.dropdown {
    position: absolute;
    top: 0;
    z-index: 10;
    margin-top: 150px;
    right: 60px;
}

.dropdownOptions {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 9;
}

.dropdownOptions a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdownOptions a:hover {
    background-color: #f1f1f1;
}

.show {
    display: block;
}

.dropdownButton {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: white;
    cursor: pointer;
    right: 0;
}